body {
    background-color: #f0f8ff;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#greeting {
    margin-top: 50px;
}

h1 {
    color: #28a745;
    transition: color 0.5s;
}

p {
    color: #17a2b8;
    transition: color 0.5s;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

img {
    width: 200px;
    margin-top: 20px;
    transition: transform 0.5s;
}

button:hover {
    background-color: #28a745;
    color: white;
}
